.columns-highlight-container {
  background-color: #f5f5f5;
}

.columns-highlight > div {
  display: flex;
  flex-direction: column;
}

.columns-highlight img {
  width: 100%;
}

.columns-highlight > div > div {
  order: 1;
}

.columns-highlight h2 {
  font-family: barlow, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.29;
  color: #000;
  margin-top: 0.4em;
  margin-bottom: 0.15em;
}

.columns-highlight p {
  font-size: 16px;
  line-height: 1.5;
  color: #363d42;
}

.columns-highlight a {
  color: var(--link-color);
  font-weight: 600;
  font-size: 16px;
}

.columns-highlight > div > .columns-highlight-img-col {
  order: 0;
}

.columns-highlight > div > .columns-highlight-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns-highlight > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns-highlight > div > div {
    flex: 1;
    order: unset;
  }
}
